@model DACN_ver_2.Models.Dangnhap


@if (Model.iPhanquyen == 1)
{
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Administrator</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile">
                <div class="profile_pic">
                    <img src="~/images/Avatar/@Html.DisplayFor(model => model.sAvatar)" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>@Html.DisplayFor(model => model.sTennv)</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-home"></i>Quản trị <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Quantri", "Main")">Quản trị chung</a></li>
                                <li><a href="@Url.Action("Nhanvien", "Main")">Nhân sự</a></li>
                                <li><a href="index3.html">Dashboard3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-home"></i>Danh mục tài sản <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Danhmuc", "Quanly")">Danh mục tài sản</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-edit"></i> BP. Kinh doanh <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a>Thêm<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            <a href="@Url.Action("ThemPYC", "Kinhdoanh")">Phiếu yêu cầu</a>
                                        </li>
                                        <li>
                                            <a href="#">Hợp đồng</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ThemCT", "Kinhdoanh")">Chứng thư</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="form_advanced.html">Danh sách PYC</a></li>
                                <li><a href="form_validation.html">Thông tin hợp đồng</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-desktop"></i> Khách hàng <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Danhsachkhachhang", "Kinhdoanh")">Danh sách khách hàng</a></li>

                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="chartjs.html">Chart JS</a></li>
                                <li><a href="chartjs2.html">Chart JS2</a></li>
                                <li><a href="morisjs.html">Moris JS</a></li>
                                <li><a href="echarts.html">ECharts</a></li>
                                <li><a href="other_charts.html">Other Charts</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                                <li><a href="fixed_footer.html">Fixed Footer</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu_section">
                    <h3>Live On</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="e_commerce.html">E-commerce</a></li>
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="project_detail.html">Project Detail</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="profile.html">Profile</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="page_403.html">403 Error</a></li>
                                <li><a href="page_404.html">404 Error</a></li>
                                <li><a href="page_500.html">500 Error</a></li>
                                <li><a href="plain_page.html">Plain Page</a></li>
                                <li><a href="login.html">Login Page</a></li>
                                <li><a href="pricing_tables.html">Pricing Tables</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="#level1_1">Level One</a>
                                <li>
                                    <a>Level One<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            <a href="level2.html">Level Two</a>
                                        </li>
                                        <li>
                                            <a href="#level2_1">Level Two</a>
                                        </li>
                                        <li>
                                            <a href="#level2_2">Level Two</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#level1_2">Level One</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}
else if (Model.iPhanquyen == 2 && Model.iPhongban == 2)
{
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Nhân viên Thẩm định giá</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile">
                <div class="profile_pic">
                    <img src="~/images/Avatar/@Html.DisplayFor(model => model.sAvatar)" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>@Html.DisplayFor(model => model.sTennv)</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-home"></i>Quản trị <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Quantri", "Main")">Quản trị chung</a></li>
                                <li><a href="@Url.Action("Nhanvien", "Main")">Nhân sự</a></li>
                                <li><a href="index3.html">Dashboard3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-home"></i>Danh mục tài sản <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Danhmuc", "Quanly")">Danh mục tài sản</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-edit"></i> BP. Kinh doanh <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a>Thêm<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            <a href="@Url.Action("ThemPYC", "Kinhdoanh")">Phiếu yêu cầu</a>
                                        </li>
                                        <li>
                                            <a href="#">Hợp đồng</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ThemCT", "Kinhdoanh")">Chứng thư</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="form_advanced.html">Danh sách PYC</a></li>
                                <li><a href="form_validation.html">Thông tin hợp đồng</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-desktop"></i> Khách hàng <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Danhsachkhachhang", "Kinhdoanh")">Danh sách khách hàng</a></li>

                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="chartjs.html">Chart JS</a></li>
                                <li><a href="chartjs2.html">Chart JS2</a></li>
                                <li><a href="morisjs.html">Moris JS</a></li>
                                <li><a href="echarts.html">ECharts</a></li>
                                <li><a href="other_charts.html">Other Charts</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                                <li><a href="fixed_footer.html">Fixed Footer</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu_section">
                    <h3>Live On</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="e_commerce.html">E-commerce</a></li>
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="project_detail.html">Project Detail</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="profile.html">Profile</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="page_403.html">403 Error</a></li>
                                <li><a href="page_404.html">404 Error</a></li>
                                <li><a href="page_500.html">500 Error</a></li>
                                <li><a href="plain_page.html">Plain Page</a></li>
                                <li><a href="login.html">Login Page</a></li>
                                <li><a href="pricing_tables.html">Pricing Tables</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="#level1_1">Level One</a>
                                <li>
                                    <a>Level One<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            <a href="level2.html">Level Two</a>
                                        </li>
                                        <li>
                                            <a href="#level2_1">Level Two</a>
                                        </li>
                                        <li>
                                            <a href="#level2_2">Level Two</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#level1_2">Level One</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.iPhanquyen == 2 && Model.iPhongban == 3)
{
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Nhân viên Kinh doanh</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile">
                <div class="profile_pic">
                    <img src="~/images/Avatar/@Html.DisplayFor(model => model.sAvatar)" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>@Html.DisplayFor(model => model.sTennv)</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-edit"></i> Phiếu yêu cầu <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a>Thêm<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        
                                        <li>
                                            <a href="#">Hợp đồng</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li class="sub_menu">
                                    <a href="@Url.Action("ThemPYC", "Kinhdoanh")">Thêm Phiếu yêu cầu</a>
                                </li>
                                <li><a href="form_advanced.html">Danh sách PYC</a></li>
                                <li><a href="form_validation.html">Thông tin hợp đồng</a></li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-desktop"></i> Khách hàng <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Danhsachkhachhang", "Kinhdoanh")">Danh sách khách hàng</a></li>

                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-desktop"></i> Hợp đồng <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("Danhsachkhachhang", "Kinhdoanh")">Danh sách khách hàng</a></li>

                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-desktop"></i> Chứng thư <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a href="@Url.Action("ThemCT", "Kinhdoanh")">Chứng thư</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


}
