
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Trang quản lý </h2>
<div class="animate form login_form">
    <section class="login_content">
        @using (Html.BeginForm())
        {
            
            <h1>Đăng nhập</h1>
            <div>
                @Html.TextBox("Username", null, new { @class = "form-control", @placeholder = "Username" })
                @ViewData["ErrorUser"]
            </div>
            <div>
                @Html.Password("Password", null, new { @class = "form-control", @placeholder = "Password" })
                @ViewData["ErrorPass"]
                @ViewBag.Thongbao
            </div>            
            <div>
                @Html.ValidationSummary()
                @Html.reCaptcha()
            </div>
            <div>
                <input type="submit" value="Log in" class="btn btn-default submit" />
                <a class="reset_pass" href="#">Lost your password?</a>
            </div>
            <div class="clearfix"></div>

            <div class="separator">


                <div>
                    <h1><i class="fa fa-paw"></i> Trần Minh Đức kun</h1>
                    <p>©2016 All Rights Reserved. Trần Minh Đức kun. Privacy and Terms</p>
                </div>
            </div>
        }
    </section>
</div>


