@model DACN_ver_2.Models.Dangnhap


<div class="profile">
    <div class="profile_pic">
        <img src="~/images/Avatar/@Html.DisplayFor(model => model.sAvatar)" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>@Html.DisplayFor(model => model.sTennv)</h2>
    </div>
</div>
@*<div>
    <h4>Dangnhap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sTennv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sTennv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iPhanquyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iPhanquyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
