
@model DACN_ver_2.Models.NHANVIEN
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/Avatar/@Html.DisplayFor(model => model.ANH)" alt="@Html.DisplayFor(model => model.TENNV)">@Html.DisplayFor(model => model.TENNV)
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>@Html.ActionLink("Thông tin", "Profile", "Nhanvien", new { id = Model.ID_NHANVIEN }, null)@*<a href="javascript:;"> Profile</a>*@</li>
                        
                        <li>@Html.ActionLink("Tin nhắn", "GuiThongBao", "Nhanvien")</li>
                        <li><a href="/Login/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    
                    @Html.Action("ThongbaoTOP", "Nhanvien", new { id = Model.ID_NHANVIEN })
                </li>
            </ul>
        </nav>
    </div>
</div>

