@model IEnumerable<DACN_ver_2.Models.PHIEUYEUCAU>

@{
    ViewBag.Title = "Danh sách PYC";
    Layout = "~/Views/Shared/_LayoutKinhdoanh.cshtml";
}



<div class="right_col" role="main">
    <div class="">

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Danh sách Phiếu yêu cầu | <button type="button" class="btn btn-default" data-toggle="modal" data-target=".them-khach-hang"><i class="glyphicon glyphicon-plus"></i></button>

                        </h2>
                        @*<ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>*@
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Danh sách Phiếu yêu cầu</th>
                                    <th>Khách hàng</th>
                                    <th>Thẩm định viên</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ID_PYC)</td>
                                        <td>
                                            <div class="row">
                                                <label class="control-label col-md-6 col-sm-3 col-xs-12" for="last-name">
                                                    Số PYC:
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @if (item.SOPYC == null)
                                                    {
                                                        <p>-/-</p>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.SOPYC)
                                                    }
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-6 col-sm-3 col-xs-12" for="last-name">
                                                    Ngày:
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @if (item.NGAYVIETPHIEU == null)
                                                    {
                                                        <p>-/-</p>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.NGAYVIETPHIEU)
                                                    }

                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-6 col-sm-3 col-xs-12" for="last-name">
                                                    Mục đích thẩm định:
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @if (item.MDTD == null)
                                                    {
                                                        <p>-/-</p>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.MDTD)
                                                    }
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-6 col-sm-3 col-xs-12" for="last-name">
                                                    Mức phí chấp thuận:
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    
                                                    @(item.MUCPHICHAPTHUAN.HasValue ? item.MUCPHICHAPTHUAN.Value.ToString("N0") : "-/-")
                                                   
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                            Tên:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            @if (item.ID_KH == null)
                                                            {
                                                                <p>-/-</p>
                                                            }
                                                            else
                                                            {
                                                                @Html.DisplayFor(modelItem => item.KHACHHANG.TENKH)
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                            Sđt:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">

                                                            @Html.DisplayFor(modelItem => item.KHACHHANG.DIENTHOAI)

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                            Email:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">

                                                            @Html.DisplayFor(modelItem => item.KHACHHANG.EMAIL)

                                                        </div>
                                                    </div>
                                                    
                                                    </td>
                                                    <td>@Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)</td>
                                                    <td>
                                                        @Html.ActionLink("Xem", "XemPYC", new { id = item.ID_PYC }) |

                                                        <a href='#' class="btn btn-danger btn-delete" data-toggle="modal" data-target=".xoakh-@item.ID_KH"><i class="glyphicon glyphicon-trash"></i></a>

                                                    </td>
                                        
                                    </tr>
                                }
                                </tbody>
                                </table>
                            </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scriptsdata {
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                          {
                              extend: "copy",
                              className: "btn-sm"
                          },
                          {
                              extend: "csv",
                              className: "btn-sm"
                          },
                          {
                              extend: "excel",
                              className: "btn-sm"
                          },
                          {
                              extend: "pdfHtml5",
                              className: "btn-sm"
                          },
                          {
                              extend: "print",
                              className: "btn-sm"
                          },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();

            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            var $datatable = $('#datatable-checkbox');

            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                  { orderable: false, targets: [0] }
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });

            TableManageButtons.init();
        });
    </script>
}



