@using GleamTech.Web.Mvc
@using GleamTech.DocumentUltimate.Web
@model DACN_ver_2.Models.FILEDINHKEM

@{
    ViewBag.Title = "LoadFile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

        @{
            var tenfile = @Html.DisplayFor(model => model.LIENKET).ToHtmlString();

        }
        @{
            var documentViewer = new DocumentViewer
            {
                Width = 800,
                Height = 600,
                //DocumentPath = "~/Documents/Document.docx"
                //Document = "~/FileCT/1/Danh sách PYC.csv",
                Document = tenfile,
            };
        }
 

        <head>
            @Html.RenderCss(documentViewer)
            @Html.RenderJs(documentViewer)
        </head>
        
        <div class="right_col" role="main">
            <div>
                <div>
                    <h2>Thông tin file đính kèm</h2>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Tên file:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TENFILE)
                        </dd>
                        <dt>
                            Ngày Tạo:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NGAYTAO)
                        </dd>

                        <dt>
                            Người upload:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NGUOITAO)
                        </dd>

                        <dt>
                            Trạng thái
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TRANGTHAI)
                        </dd>
                        <dt>
                            Phiếu yêu cầu số:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PHIEUYEUCAU.SOPYC)
                        </dd>
                        <dt>
                            Hợp đồng số:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HOPDONG.SOHD)
                        </dd>
                        <dt>
                            CHứng thư số:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CHUNGTHUTDG.SOCHUNGTHU)
                        </dd>
                    </dl>
                </div>
                <p>
                   
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
            <div class="">

                @Html.RenderControl(documentViewer)

            </div>
        </div>
