@model DACN_ver_2.Models.PHIEUYEUCAU

@{
    ViewBag.Title = "Sửa Phiếu yêu cầu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phiếu yêu cầu <small>năm 2016</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />

                        @using (Html.BeginForm("SuaPYC", "Kinhdoanh", "", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID_PYC)
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                        Số PYC:
                                    </label>
                                    <div class="col-md-4 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.SOPYC, new { htmlAttributes = new { @class = "form-control" } })
                                        
                                    </div>
                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                        Ngày lập phiếu:
                                    </label>
                                    <div class="col-md-4 col-sm-3 col-xs-12">
                                        @*<input type="date" name="NGAYLAP" id="NGAYXUAT" value="@Model.NGAYVIETPHIEU.Value.Year-@Model.NGAYVIETPHIEU.Value.Month-@Model.NGAYVIETPHIEU.Value.Day" class="form-control col-md-7 col-xs-12" />*@
                                        @Html.EditorFor(model => model.NGAYVIETPHIEU, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                        Khách hàng:
                                    </label>
                                    <div class="col-md-4 col-sm-3 col-xs-12">
                                        @Html.DropDownList("Khachhang3", null, null, new { @class = "form-control" })
                                    </div>
                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                        Thẩm định viên:
                                    </label>
                                    <div class="col-md-4 col-sm-3 col-xs-12">
                                        @Html.DropDownList("Nhanvien3", null, null, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-decoration:underline; ">
                                        Thông tin tài sản
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Loại tài sản:
                                    </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @Html.DropDownList("Loaitaisan3", null, null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Vị trí/ địa điểm:
                                    </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.VITRI, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Đặc điểm kinh tế - kỹ thuật tài sản:
                                    </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.DACDIEM, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Mục đích thẩm định:
                                    </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.MDTD, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >
                                        Thời điểm thẩm định:
                                    </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @Html.DisplayFor(model => model.TDTD)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Thời hạn hoàn thành:
                                    </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.TDTD, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Yêu cầu khác (nếu có):
                                    </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.YEUCAUKHAC, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Mức phí chấp thuận:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.MUCPHICHAPTHUAN, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                        Ứng trước:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.UNGTRUOC, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">

                                        File đính kèm:
                                    </label>
                                    @if (ViewBag.Demfile == 0)
                                    {
                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                            Không có file đính kèm | @Html.ActionLink("Thêm file", "ThemfilePYC", new { id = Model.ID_PYC })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                            @ViewBag.Demfile file | @Html.ActionLink("Thêm file", "ThemfilePYC", new { id = Model.ID_PYC })
                                        </div>
                                    }

                                </div>
                                <div class="form-group">
                                    @Html.Action("DanhsachFilePYC", "Kinhdoanh", new { id = Model.ID_PYC })
                                </div>
                                <div class="ln_solid"></div>
                               

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
