@model DACN_ver_2.Models.HOPDONG

@{
    ViewBag.Title = "ThemHD";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hợp đồng <small>năm @DateTime.Now.Year</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("ThemHD", "Kinhdoanh", "", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số Hợp đồng:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                    <input class="form-control col-md-7 col-xs-12 text-box single-line" id="SOHOPDONG" name="SOHOPDONG" type="number" value="">
                                    <span class="input-group-addon">/@DateTime.Now.Year/HD-AMAX</span>
                                    </div>
                                </div>
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                    Ngày lập:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="date" name="NGAYLAP" id="NGAYXUAT" value="2013-01-08" class="form-control col-md-7 col-xs-12" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Loại hợp đồng:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("loaihd", null, "Loại HĐ", new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                    Trạng thái:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("loaitrangthai", null, "Trạng thái", new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                                @*<div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="date" name="NGAYLAP" id="NGAYXUAT" class="form-control col-md-7 col-xs-12" />
                                    </div>*@
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    theo PYC số:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("pyc", null, "Chọn PYC", new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                    Nhân viên kinh doanh:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("kinhdoanh", null, "Chọn nhân viên phụ trách", new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-decoration:underline; ">
                                    Thông tin Hợp đồng:
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Giá trị hợp đồng:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.TONGTIEN, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    KH kê giá:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.GIAKE, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Phí hoa hồng:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.HOAHONG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Chiết khấu:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CHIETKHAU, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Đã thanh toán:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.DATHANHTOAN, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Doanh thu thực:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.DOANHTHUTHUC, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

