@model DACN_ver_2.Models.CHUNGTHUTDG

@{
    ViewBag.Title = "Thêm chứng thư Thẩm định giá";
    Layout = "~/Views/Shared/_LayoutKinhdoanh.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phiếu yêu cầu <small>năm 2016</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("ThemCT", "Kinhdoanh", "", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số chứng thư:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12 text-box single-line" id="SOCHUNGTHU" name="SOCHUNGTHU" type="number" value="">
                                </div>
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                    Ngày xuất:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="date" name="NGAYXUAT" id="NGAYXUAT" class="form-control col-md-7 col-xs-12" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Hợp đồng:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("hd", null, "Chọn hợp đồng", new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                    theo PYC số:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("pyc", null, "Chọn phiếu yêu cầu", new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>
                            @*<div class="ln_solid"></div>*@
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" style="text-decoration:underline; ">
                                    Thông tin chứng thư:
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Mục đích thẩm định:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.MUCDICHTDG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Thời điểm thẩm định:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.THOIDIEMTDG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Cách tiếp cận TĐG:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CACHTIEPCANTDG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Phương pháp TĐG:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.PPTDG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Kết quả TĐG:
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.KETQUATDG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

