@model DACN_ver_2.Models.HOPDONG

@{
    ViewBag.Title = "Xem hợp đồng";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hợp đồng<small>năm 2016</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />


                        <div class="row">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Số Hợp Đồng:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.SOHD)
                            </div>
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Ngày xuất hợp đồng:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.NGAYTAO)
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Tình trạng hợp đồng:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.TRANGTHAI1.TEN)
                            </div>
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Nhân viên phụ trách:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.NHANVIEN.TENNV)
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" style="text-decoration:underline; ">
                                Thông tin khách hàng
                            </label>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Khách hàng:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.KHACHHANG.TENKH)
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Địa chỉ:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.KHACHHANG.DIACHI)
                            </div>
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                CMND số:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.KHACHHANG.CMND)
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Điện thoại
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.KHACHHANG.DIENTHOAI)
                            </div>
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Người đại diện:
                            </label>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.KHACHHANG.NGUOIDAIDIEN)
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" style="text-decoration:underline; ">
                                Thông tin hợp đồng
                            </label>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Loại hợp đồng:
                            </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DisplayFor(model => model.LOAIHOPDONG.TEN)
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Số PYC
                            </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.SOPYC)
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Giá trị hợp đồng
                            </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DisplayFor(model => model.TONGTIEN)
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Ngày ký:
                            </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DisplayFor(model => model.NGAYLAP)
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Giá kê:
                            </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DisplayFor(model => model.GIAKE)
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Hoa hồng:
                            </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DisplayFor(model => model.HOAHONG)
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Chiết khấu:
                            </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DisplayFor(model => model.CHIETKHAU)
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Doanh thu thực:
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.MUCPHICHAPTHUAN)
                            </div>
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">
                                Ứng trước:
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                @Html.DisplayFor(model => model.PHIEUYEUCAU.UNGTRUOC)
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">

                                File đính kèm:
                            </label>
                            @if (ViewBag.Demfile == 0)
                            {
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    Không có file đính kèm | @Html.ActionLink("Thêm file", "ThemfileHD", new { id = Model.ID_HOPDONG })
                                </div>
                            }
                            else
                            {
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    @ViewBag.Demfile file | @Html.ActionLink("Thêm file", "ThemfileHD", new { id = Model.ID_HOPDONG })
                                </div>
                            }

                        </div>
                        <div class="row">
                            @Html.Action("DanhsachFileHD", "Kinhdoanh", new { id = Model.ID_HOPDONG })
                           
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="~/Kinhdoanh/SuaHD/@Model.ID_HOPDONG" class="btn btn-primary btn-update">Sửa</a> 
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


