@model DACN_ver_2.Models.DAT

@{
    ViewBag.Title = "ĐẤT | Phiếu thông tin về giá.";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phiếu thông tin về giá | Đất <small>năm @DateTime.Now.Year</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("SuaDat", "Taisan", "", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số hiệu:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.SOHIEU, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.SOHIEU, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">/@DateTime.Now.Year/PTT-DAT</span>
                                    </div>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Ngày lập:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Tháng</span>
                                        @Html.EditorFor(model => model.THANG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.THANG, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">năm</span>
                                        @Html.EditorFor(model => model.NAM, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.NAM, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Loại hình giá trị:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("loaihinh12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.ID_LOAIHINH, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Loại đất:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DropDownList("chitietloai12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.ID_CHITIETLOAI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-decoration:underline; ">
                                    Đặc điểm bên trong
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Diện tích lô/thửa đất :
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.DIENTICHLODAT, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.DIENTICHLODAT, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">m<sup>2</sup></span>
                                    </div>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Mục đích sử dụng đất theo giấy tờ:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.EditorFor(model => model.MDSD, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.MDSD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Hình dạng :
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">

                                    @Html.EditorFor(model => model.HINHDANG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.HINHDANG, "", new { @class = "text-danger" })

                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Thời hạn sử dụng đất:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.EditorFor(model => model.THSD, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.THSD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Nguồn gốc sử dụng :
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">

                                    @Html.EditorFor(model => model.NGSD, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.NGSD, "", new { @class = "text-danger" })

                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Công trình hiện hữu:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.EditorFor(model => model.CTHH, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.CTHH, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Quy mô công trình:
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.TANGHAM, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.TANGHAM, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">tầng hầm + </span>
                                        @Html.EditorFor(model => model.TANGNOI, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.TANGNOI, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">tầng nổi.</span>
                                    </div>
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    Mật độ xây dựng:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MDSD, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.MDSD, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Diện tích sử dụng:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.DIENTICHXAYDUNG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.DIENTICHXAYDUNG, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">m<sup>2</sup></span>
                                    </div>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Năm xây dựng:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.EditorFor(model => model.MDSD, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.MDSD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Chất lượng còn lại:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.CHATLUONGCONLAI, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.CHATLUONGCONLAI, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Mức độ hoàn thành:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MUCDOHOANTHANH, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.MUCDOHOANTHANH, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Giá trị còn lại:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.GIATRICONLAI, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                            @Html.ValidationMessageFor(model => model.GIATRICONLAI, "", new { @class = "text-danger" })
                                            <span class="input-group-addon">đồng</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-decoration:underline; ">
                                        Đặc điểm bên ngoài
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Cấp đường/ hẻm:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.DropDownList("capduong12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.ID_CAPDUONG, "", new { @class = "text-danger" })

                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Kết cấu đường:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.DropDownList("ketcau12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.ID_KETCAUDUONG, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Chiều rộng mặt đường:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.DropDownList("chieurongmatduong12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.ID_CRMD, "", new { @class = "text-danger" })

                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Phân luồng:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.EditorFor(model => model.PHANLUONG, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.PHANLUONG, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Cơ sở hạ tầng:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.EditorFor(model => model.CSHT, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.CSHT, "", new { @class = "text-danger" })

                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Quy hoạch:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.EditorFor(model => model.QUYHOACH, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.QUYHOACH, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Cảnh quan môi trường:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.EditorFor(model => model.CQMT, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.CQMT, "", new { @class = "text-danger" })

                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Điều kiện thanh toán:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.EditorFor(model => model.DKTT, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.DKTT, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tình trạng giao dịch:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                        @Html.EditorFor(model => model.TTGD, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.TTGD, "", new { @class = "text-danger" })

                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tình hình thị trường:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.THTT, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.THTT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Đặc điểm pháp lý:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DropDownList("ddpl12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.ID_DDPL, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Loại thông tin:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DropDownList("loaithongtin12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.ID_LTT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-decoration:underline; ">
                                        Vị trí/ địa điểm:
                                    </label>
                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Quận huyện:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DropDownList("quanhuyen12", null, null, new { @class = "form-control col-md-7 col-xs-12" })


                                    </div>


                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Địa chỉ:
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Thửa đất:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.THUADAT, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.THUADAT, "", new { @class = "text-danger" })

                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tờ bản đồ:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.THTT, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.THTT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Thời điểm giao dịch:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.THOIDIEMGIAODICH, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.THOIDIEMGIAODICH, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Giá bán/ Thương lượng:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(model => model.GIABAN, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.GIABAN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Người lập phiếu:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DropDownList("nlp12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Người kiểm duyệt:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DropDownList("nkd12", null, null, new { @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
