@model DACN_ver_2.Models.VANPHONGCHOTHUE

@{
    ViewBag.Title = "XemVPCT";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phiếu thông tin về giá | Văn phòng cho thuê <small>năm @DateTime.Now.Year</small></h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số hiệu:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DisplayFor(model => model.SOHIEU)
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Ngày lập:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    Tháng: @Html.DisplayFor(model => model.THANG) | Năm: @Html.DisplayFor(model => model.NAM)
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Loại hình giá trị:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DisplayFor(model => model.LOAIHINH.TEN)
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Loại văn phòng:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DisplayFor(model => model.CHITIETLOAI.TEN)
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-decoration:underline; ">
                                    Đặc điểm căn hộ:
                                </label>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Diện tích thuê :
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.DisplayFor(model => model.DIENTICHTHUE) m<sup>2</sup>
                                    </div>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Thời hạn thuê:
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        @Html.DisplayFor(model => model.THOIHANTHUE) năm
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Điều kiện khác :
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.DisplayFor(model => model.DIEUKIENKHAC)
                                </div>

                            </div>
                            <div class="ln_solid"></div>
                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Loại thông tin:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DisplayFor(model => model.LOAITHONGTIN.TEN)
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-decoration:underline; ">
                                        Vị trí/ địa điểm:
                                    </label>
                                </div>

                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tỉnh thành:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DisplayFor(model => model.QUANHUYEN.TINHTHANH.TEN)
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Quận huyện:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DisplayFor(model => model.QUANHUYEN.TEN)
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Địa chỉ:
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        @Html.DisplayFor(model => model.DIACHI)
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Thời điểm giao dịch:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DisplayFor(model => model.THOIDIEMGIAODICH)
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Giá cho thuê:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DisplayFor(model => model.GIABAN)
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Người lập phiếu:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DisplayFor(model => model.NHANVIEN1.TENNV)
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Người kiểm duyệt:
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.DisplayFor(model => model.NHANVIEN.TENNV)
                                    </div>
                                </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

