@model DACN_ver_2.Models.CANHOCHUNGCU

@{
    ViewBag.Title = "ThemCHCC";
    Layout = "~/Views/Shared/_LayoutThamdinh.cshtml";
}

<h2>ThemCHCC</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CANHOCHUNGCU</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Tỉnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_QUANHUYEN, new SelectList(
                                                        @ViewBag.Tentp, "ID_TINHTHANH", "TEN"),
                                                        "-- Chọn Tinh--",
                                                        new
                                                        {
                                                            id = "ddlProductTypes"
                                                        })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ID_QUANHUYEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_TINHTHANH", new SelectList(Enumerable.Empty<SelectListItem>(), "ID_QUANHUYEN", "TEN"),
                                                                            "-- select a Product Category --",
                                                                            new
                                                                            {
                                                                                id = "ddlProductCategorys",
                                                                            })
                @Html.ValidationMessageFor(model => model.ID_QUANHUYEN, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
	$(function () {

		$("#ddlProductTypes").change(function () {
			var tpid = $(this).val();
			$('#products').html("");
			$.getJSON("../Nhanvien/LoadQuannHuyen", { tpid: tpid },
				function (categoryData) {
					var select = $("#ddlProductCategorys");
					select.empty();
					select.append($('<option/>', {
						value: 0,
						text: "-- Chọn quận huyện --"
					}));
					$.each(categoryData, function (index, itemData) {
						select.append($('<option/>', {
							value: itemData.Value,
							text: itemData.Text
						}));
					});
				});

		});
		$(function () {
				$('#ddlProductCategorys').change(function () {
					var url = $(this).data('url');
					var value = $(this).val();
					$('#products').load(url, { id: value });

				});
			});

	});

</script>