@model DACN_ver_2.Models.LOAIHINH

@using (Html.BeginForm("SuaLoaihinh", "Quanly"))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(modelscn => modelscn.ID_LOAIHINH)

            <div class="form-group">
                @Html.Label("Tên", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(modelscn => modelscn.TEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelscn => modelscn.TEN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <input type="submit" value="Lưu" class="btn btn-primary" />
    </div>

}
